openapi: 3.1.0
info:
  title: Gleap REST API
  description: |
    Unofficial OpenAPI specification for the Gleap customer support API.
    Authored from public documentation at docs.gleap.io.

    This spec covers a subset of the full API, focused on tickets and messages.
    For the complete API, see: https://docs.gleap.io/documentation/server/api-overview
  version: 0.1.0
  contact:
    url: https://github.com/tmcinerney/gleap
  license:
    name: MIT

servers:
  - url: https://api.gleap.io/v3
    description: Gleap API v3

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key from Project > Settings > Security in the Gleap dashboard

  parameters:
    ProjectHeader:
      name: project
      in: header
      required: true
      schema:
        type: string
      description: Gleap project ID

    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        maximum: 1000
      description: Maximum number of results to return

    SkipParam:
      name: skip
      in: query
      schema:
        type: integer
        default: 0
      description: Number of results to skip (for pagination)

    SortParam:
      name: sort
      in: query
      schema:
        type: string
        default: "-createdAt"
      description: |
        Sort field with optional direction prefix.
        Prefix with `-` for descending order.
        Examples: `-createdAt`, `createdAt`, `priority`, `-priority`, `-updatedAt`

  schemas:
    UserRef:
      type: object
      properties:
        _id:
          type: string
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
      required:
        - _id

    SessionRef:
      type: object
      properties:
        _id:
          type: string
        email:
          type: string
        name:
          type: string
      required:
        - _id

    Ticket:
      type: object
      properties:
        _id:
          type: string
          description: MongoDB document ID
        title:
          type: string
        type:
          type: string
          enum: [BUG, FEATURE_REQUEST, INQUIRY, BOT]
        status:
          type: string
          enum: [OPEN, INPROGRESS, DONE]
        priority:
          type: string
          enum: [LOW, MEDIUM, HIGH]
        description:
          type: string
        formData:
          type: object
          properties:
            description:
              type: string
          additionalProperties: true
        customData:
          type: object
          additionalProperties: true
        processingUser:
          $ref: "#/components/schemas/UserRef"
        session:
          $ref: "#/components/schemas/SessionRef"
        latestComment:
          type: object
          additionalProperties: true
        tags:
          type: array
          items:
            type: string
        imageUrl:
          type: string
          description: Screenshot or image URL attached to the ticket
        archived:
          type: boolean
        isSpam:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - _id
      additionalProperties: true

    TicketListResponse:
      type: object
      properties:
        tickets:
          type: array
          items:
            $ref: "#/components/schemas/Ticket"
        count:
          type: integer
          description: Number of results returned
        totalCount:
          type: integer
          description: Total number of matching tickets
      required:
        - tickets

    Attachment:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
        type:
          type: string
          description: MIME type (e.g. image/png)

    Message:
      type: object
      properties:
        _id:
          type: string
        ticket:
          type: string
          description: Associated ticket ID
        comment:
          description: |
            Message content. Can be a plain string or a structured document
            object with type "doc" and nested content array.
          oneOf:
            - type: string
            - type: object
              properties:
                type:
                  type: string
                  enum: [doc]
                content:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
        type:
          type: string
          enum: [COMMENT, NOTE]
        bot:
          type: boolean
        isNote:
          type: boolean
          description: Whether this message is an internal note
        user:
          $ref: "#/components/schemas/UserRef"
        session:
          $ref: "#/components/schemas/SessionRef"
        attachments:
          type: array
          items:
            $ref: "#/components/schemas/Attachment"
        index:
          type: integer
          description: Message position in the conversation
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - _id
      additionalProperties: true

    CreateMessageRequest:
      type: object
      properties:
        ticket:
          type: string
          description: Ticket ID to attach the message to
        comment:
          description: Message content (plain string or structured doc)
          oneOf:
            - type: string
            - type: object
        isNote:
          type: boolean
          description: Set true for internal notes (not visible to customer)
        session:
          type: string
          description: Session ID (for customer-authored messages)
        attachments:
          type: array
          items:
            $ref: "#/components/schemas/Attachment"
      required:
        - ticket
        - comment

    CreateTicketRequest:
      type: object
      properties:
        title:
          type: string
        type:
          type: string
          enum: [BUG, FEATURE_REQUEST, INQUIRY, BOT]
        status:
          type: string
          enum: [OPEN, INPROGRESS, DONE]
        priority:
          type: string
          enum: [LOW, MEDIUM, HIGH]
        description:
          type: string
        session:
          type: string
          description: Session ID of the reporting user
        formData:
          type: object
          properties:
            description:
              type: string
          additionalProperties: true
        customData:
          type: object
          additionalProperties: true
        tags:
          type: array
          items:
            type: string
      required:
        - title

    UpdateTicketRequest:
      type: object
      properties:
        title:
          type: string
        status:
          type: string
          enum: [OPEN, INPROGRESS, DONE]
        priority:
          type: string
          enum: [LOW, MEDIUM, HIGH]
        processingUser:
          type: string
        processingTeam:
          type: string
        tags:
          type: array
          items:
            type: string
      additionalProperties: true

paths:
  /tickets:
    get:
      operationId: listTickets
      summary: List tickets
      description: |
        Retrieve a list of tickets with optional filtering, sorting, and pagination.
        All filter parameters support comma-separated values for multi-value matching.
      parameters:
        - $ref: "#/components/parameters/ProjectHeader"
        - name: status
          in: query
          schema:
            type: string
          description: "Filter by status (e.g. OPEN, or OPEN,IN_PROGRESS)"
        - name: type
          in: query
          schema:
            type: string
          description: "Filter by type (e.g. BUG, or BUG,FEATURE_REQUEST)"
        - name: priority
          in: query
          schema:
            type: string
          description: "Filter by priority (e.g. HIGH, or HIGH,MEDIUM)"
        - name: archived
          in: query
          schema:
            type: boolean
          description: Filter by archived state
        - name: isSpam
          in: query
          schema:
            type: boolean
          description: Filter by spam status
        - $ref: "#/components/parameters/SortParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/SkipParam"
      responses:
        "200":
          description: List of tickets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketListResponse"
        "401":
          description: Unauthorized
        "429":
          description: Rate limited (1000 req/60s per project)

    post:
      operationId: createTicket
      summary: Create a new ticket
      parameters:
        - $ref: "#/components/parameters/ProjectHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTicketRequest"
      responses:
        "200":
          description: Created ticket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
        "401":
          description: Unauthorized

  /tickets/search:
    get:
      operationId: searchTickets
      summary: Search tickets by text query
      parameters:
        - $ref: "#/components/parameters/ProjectHeader"
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Text search query
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/SkipParam"
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketListResponse"

  /tickets/{ticketId}:
    get:
      operationId: getTicket
      summary: Get a single ticket by ID
      parameters:
        - $ref: "#/components/parameters/ProjectHeader"
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Ticket details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
        "404":
          description: Ticket not found

    patch:
      operationId: updateTicket
      summary: Update a ticket
      parameters:
        - $ref: "#/components/parameters/ProjectHeader"
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTicketRequest"
      responses:
        "200":
          description: Updated ticket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"

  /tickets/{ticketId}/consolelogs:
    get:
      operationId: getTicketConsoleLogs
      summary: Get console logs for a ticket
      description: Returns JavaScript console output captured at the time of the bug report.
      parameters:
        - $ref: "#/components/parameters/ProjectHeader"
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Console log entries
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /tickets/{ticketId}/networklogs:
    get:
      operationId: getTicketNetworkLogs
      summary: Get network logs for a ticket
      description: Returns HTTP request/response data captured at the time of the bug report.
      parameters:
        - $ref: "#/components/parameters/ProjectHeader"
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Network log entries
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /tickets/{ticketId}/activitylogs:
    get:
      operationId: getTicketActivityLogs
      summary: Get activity logs for a ticket
      description: Returns the history of actions taken on this ticket (status changes, assignments, etc.).
      parameters:
        - $ref: "#/components/parameters/ProjectHeader"
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Activity log entries
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /messages:
    get:
      operationId: listMessages
      summary: Get messages
      description: |
        Retrieve messages with optional filtering by ticket, type, bot status, and date range.
        Supports sorting, pagination, and auto-translation.
      parameters:
        - $ref: "#/components/parameters/ProjectHeader"
        - name: ticket
          in: query
          schema:
            type: string
          description: Filter by ticket ID
        - name: type
          in: query
          schema:
            type: string
          description: "Filter by message type (e.g. COMMENT, or COMMENT,NOTE)"
        - name: bot
          in: query
          schema:
            type: boolean
          description: Filter by bot-authored messages
        - name: createdAt
          in: query
          schema:
            type: string
          description: |
            Date range filter using comparison operators.
            Example: createdAt>=2024-01-01&createdAt<=2024-12-31
        - $ref: "#/components/parameters/SortParam"
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 10000
          description: Maximum number of results
        - $ref: "#/components/parameters/SkipParam"
        - name: language
          in: query
          schema:
            type: string
          description: Auto-translate messages to this language code (e.g. es, de)
      responses:
        "200":
          description: List of messages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Message"

    post:
      operationId: createMessage
      summary: Create a new message
      description: |
        Add a comment, internal note, or customer message to a ticket.
        Set isNote to true for internal notes not visible to the customer.
        Set session to create a message as a specific customer.
      parameters:
        - $ref: "#/components/parameters/ProjectHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMessageRequest"
            examples:
              simpleComment:
                summary: Simple text comment
                value:
                  ticket: "507f1f77bcf86cd799439022"
                  comment: "Thank you for reporting this. We are looking into it."
              internalNote:
                summary: Internal note
                value:
                  ticket: "507f1f77bcf86cd799439022"
                  comment: "Escalating to mobile team — high priority."
                  isNote: true
              richComment:
                summary: Rich formatted comment with attachment
                value:
                  ticket: "507f1f77bcf86cd799439022"
                  comment:
                    type: doc
                    content:
                      - type: paragraph
                        content:
                          - type: text
                            text: "We've deployed a fix. "
                          - type: text
                            marks:
                              - type: bold
                            text: "Please update to version 2.3.2"
                  attachments:
                    - name: screenshot.png
                      url: "https://example.com/screenshot.png"
                      type: image/png
      responses:
        "200":
          description: Created message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
